@import 'colors';
@import 'foot';

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $primary-color;
}

.overview_div {
  width: 60%;
  height: inherit;
  display: block;
  position: fixed;
  overflow-y: scroll;

  &__table {
    align-content: center;
    overflow: auto;
  }

  &__thead tr {
    display: block;
  }

}

.side_div {
  width: 20%;
  height: 85vh;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}


.autocomplete-items div:hover {
  background-color: #e9e9e9;
}


.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

// .middle {
//   widows: 100%;
//   height: 85vh;
// }

.bottom-content {

  position: relative;
}

.update_middle {
  width: inherit;
  height: 700px;
  font-family: Lucida Sans Unicode;
  font-size: inherit;
  background-color: #edeef0;
}

.side-pad {
  width: 100px;
  height: 700px;
  background: #797575;
}

.products {
  width: 1645px;
  height: 490px;
  background: #edeef0;
  overflow-y: auto;
  overflow-x: hidden;
}